/** ROOT COLOUR VARS **/
:root {
    --dark-blue: #204f54;
    --light-blue: #43969d;
    --light-orange: #da6937;
    --dark-orange: #95482c;
    --dark-grey: #313131;
  }

* {
    box-sizing: border-box
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  /** DEFAULT SITE STYLING **/
  body {
    margin: 0;
    min-height: 100vh;
    color: var(--dark-blue);
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  p {
    margin-bottom: 20px;
    line-height: 1.2;
  }
  
  h1,
  h2,
  h3,
  h4 {
    font-weight: 600;
  }
  
  
  /** SITE GRID SYSTEM **/ 
  .base-content-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
  
  @media (min-width: 786px) {
    .base-content-container {
      max-width: 800px;
    }
  }
  
  @media (min-width: 1024px) {
    .base-content-container {
      max-width: 1024px;
    }
  }
  
  @media (min-width: 1400px) {
    .base-content-container {
      max-width: 1200px;
    }
  }
  
  
  /** GENERIC STYLING **/
  /** BUTTONS **/
  .button--generic {
    background-color: var(--light-orange);
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  /** GENERIC PAGE STYLING **/
  .page__heading {
    font-size: 25px;
    text-align: center;
    margin: 30px 0;
    text-transform: uppercase;
  }
  .page__subheading {
    margin-bottom: 20px;
  }
  
  .page__description {
    margin-bottom: 40px;
  }
  
  .page__description p {
    font-size: 14px; 
  }
  
  .page__button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  @media only screen and (min-width: 768px) {
    .page__heading {
      font-size: 45px;
      margin: 60px 0 30px;
    }
  
    .page__subheading {
      margin-bottom: 40px;
      margin-left: 10px;
    }
  
    .page__button-group {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  /* FORMS */
  .generic-form__label {
    margin-bottom: 5px;
    display: block;
    font-size: 18px;
    margin-left: 10px;

  }
  .generic-form__input,
  .generic-form__textarea {
    width: 100%;
    border: 1px #bebdbd solid;
    margin-bottom: 20px;
    border-radius: 20px;
    min-height: 50px;
    padding: 10px 15px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
  }

  .generic-form__input::placeholder,
  .generic-form__textarea::placeholder {
    font-family: 'Montserrat', sans-serif;
  }

  .generic-form__select,
  .generic-form__radio {
    min-height: 50px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
  }

  .generic-form__radio input[type='radio'] {
    margin-right: 10px;
  }

  .generic-form__radio input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.generic-form__radio input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: var(--light-orange);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.generic-form__radio__container {
  display: flex;
  flex-direction: column;
}

.generic-form__radio__option {
  margin-bottom: 15px;
}

  @media only screen and (min-width: 768px) {
    .generic-form__input,
    .generic-form__select,
    .generic-form__radio,
    .generic-form__textarea {
      margin-bottom: 40px;
    }

    .generic-form__radio__container {
      flex-direction: row;
    }

    .generic-form__radio__option {
      margin-right: 15px;
    }
  }