.account-icon {
    height: 100%;
}
.account-icon .cls-1 {
    fill: none; 
    stroke: #fff; 
    stroke-miterlimit: 10; 
    stroke-width: 1.6px
}

.basket-icon {
    height: 100%;
}
.basket-icon .cls-1{
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 2px
}