/** PAGES */
  /* PRODUCT PAGE */
  .product-page__body {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
  }
  .product-page__left-col,
  .product-page__right-col {
    width: 100%;
    padding: 0 30px;
  }

  .product-page__description {
    margin-bottom: 40px;
  }
  .product-page__description__header,
  .product-page__description__price {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 30px;
  }

  .product-page__disclaimer {
    max-width: 90%;
    margin: 40px auto;
  }
  .product-page__disclaimer__header {
    border: 1px solid var(--portal-foreground-color);
    text-align: center;
    padding: 15px;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .product-page__product-details {
    margin-bottom: 40px;
  }
  .product-page__product-details li {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .product-page__product-details strong {
    font-weight: bold;
    color: var(--portal-primary-button);
    margin-right: 15px;
  }

  .product-page__purchase-group {
    display: flex;
    align-items: center;
  }

  .product-page__cart-button {
    padding: 10px 20px;
    font-size: 20px;
    min-width: 200px;
    margin-left: 40px;
  }


  /* Number counter styling */
  .product-page__counter  {
    position: relative;
    height: 40px;
    width: 60px;
  }
  .product-page__counter input {
    font-size: 20px;
    padding: 10px;
    width: 100%;
    height: 100%;
    border: 1px solid #e5e5e5;
  }

  .product-page__counter input::-webkit-outer-spin-button,
  .product-page__counter input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }

  .product-page__counter__up-arrow,
  .product-page__counter__down-arrow {
    position: absolute;
    background-color: var(--portal-primary-button);
    top: 3px;
    right: 3px;
    height: 40%;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--portal-background-color);
    transform: rotate(-90deg);
    cursor: pointer;

    /* prevent highlighting of the arrow characters */
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
  }

  .product-page__counter__down-arrow {
    bottom: 3px;
    top: auto;
    transform: rotate(90deg);
  }

  /* availablity styling */
  .product-page__availablity {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
  }

  .product-page__availablity--in-stock {
    color: var(--color-green);
  }
  .product-page__availablity--low-stock {
    color: var(--portal-primary-button);
  }
  .product-page__availablity--out-of-stock {
    color: var(--color-red);
  }

  /* PLACEHOLDER STYLING FOR THE GALLERY */
  .product-page__gallery div {
    width: 100%;
    height: 400px;
    background-color: var(--portal-foreground-color);
    color: var(--portal-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  @media only screen and (min-width: 768px) {
    .product-page__body {
      flex-direction: row;
      padding: 80px 0 30px;
    }
    .product-page__disclaimer__header {
      margin-bottom: 40px;
    }
    .product-page__left-col {
      width: 40%;
    }
    .product-page__right-col {
      width: 60%;
    }
  }

  /** SHOP PAGE **/
  .shop-page__custom-dropdown {
    width: 100%;
    margin: 20px 0;
  }

