@import './css-includes/reset.css';
@import './css-includes/base.css';
@import './css-includes/pages.css';
@import './css-includes/icons.css';

/** DROPDOWN **/
.custom-dropdown__container {
  position: relative;
  width: 100%;
  max-width: 240px;
}
.custom-dropdown__container select {
  width: 100%;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--portal-background-color);
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.custom-dropdown__container::after {
  content: "";
  height: 13px;
  width: 13px;
  border-right: 1px #000 solid;
  border-bottom: 1px #000 solid;
  position: absolute;
  right: 10px;
  top: 33%;
  transform: translateY(-50%) rotate(45deg);
  z-index: 100;
}


/** HEADER STYLING **/
header {
  width: 100%;
  background-color: var(--portal-foreground-color);
}

header .base-content-container {
  padding: 30px 0 10px;
}

.logo-container {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.site-banner {
  width: 100%;
}

/** FOOTER STYLING **/
footer {
  width: 100%;
  background-color: var(--portal-foreground-color);
  padding: 20px 0;
  margin-top: 60px;
}

.footer__container {
  display: flex;
  flex-direction: column;
}

.footer__row {
  width: 100%;
  margin-bottom: 20px;
}

.footer__links {
  display: flex;
  flex-direction: column;
}

.footer-navigation__grid {
  display: flex;
  flex-direction: row;

  justify-content: center;
}

.footer-navigation__link a {
  font-size: 13px;
  margin: 0 10px;
}

.footer-navigation__link a:hover {
  color: var(--portal-secondary-button-color);
}

.footer__links__container {
  width: 100%;
  margin: 5px 5px 25px;
}

.footer__links__container h3 {
  color: var(--portal-secondary-button-color);
  margin-bottom: 5px;
  text-align: center;
}

/* PLACEHOLDER STYLING */
.newsletter-widget {
  background-color: var(--portal-background-color);
  border: 1px grey solid;
  padding: 60px 20px;
}

/* Desktop styling */
@media (min-width: 768px) {
  .footer__container {
    flex-direction: row;
  }
  .footer__row {
    width: 50%;
    margin-bottom: 0;
  }

  .footer__links {
    flex-direction: row;
  }

  .footer__links__container {
    width: calc(33.3% - 10px);
  }

  .footer-navigation__grid {
    flex-direction: column;
    justify-content: flex-start;

  }
  .footer-navigation__link a {
    margin: 0;
  }
  .footer__links__container h3 {
    text-align: left;
  }
}


/** NAVIGATION **/
.nav__container {
  width: 100%;
  position: relative;
}

/* Main Navigation */
.main-navigation__grid {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 150px;
  min-height: 25px;
  align-items: center;
}

.main-navigation__link a {
  margin:  0 10px;
  color: var(--portal-background-color);
  text-decoration: none;
  text-transform: uppercase;
}

.main-navigation__link a:hover,
.main-navigation__link a.active,
.main-navigation__link a.router-link-active {
  color: var(--portal-primary-button);
}

/* Side Navigation */

.side-navigation__grid {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.side-navigation {
  margin-top: 15px;
}

.side-navigation__link a {
  margin:  0 10px;
  height: 25px;
  width: 25px;
  display: inline-block;
}

.side-navigation__link a:hover .cls-1,
.side-navigation__link a.router-link-active .cls-1 {
  stroke: var(--portal-primary-button);
}


/* Desktop styling */
@media (min-width: 768px) {
  .side-navigation {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
      margin-top: 0;
  }
}


/** PRODUCT CARDs **/
/* GRID */
.product-card__grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* ITEM */
.product-card__item {
  width: 100%;
  margin: 30px 0;
  position: relative;
}

.product-card__item a {
  color: var(--portal-foreground-color);
}

.product-card__item img {
  width: 100%;
}

.product-card__details {
  padding: 10px;
  border: 1px var(--portal-foreground-color) solid;
  border-top: none;
}

.product-card__title {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 15px;
}

.product-card__category,
.product-card__price {
  margin-bottom: 5px;
  font-size: 13px;

}

.product-card__cart-button {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.product-card__cart-button button {
  font-size: 13px;
}


@media only screen and (min-width: 500px) {
  .product-card__item img {
    width: auto;
  }
  .product-card__item {
    width: calc(50% - 30px * 2);
    margin: 30px;
  }
  .product-card__grid {
    flex-direction: row;
    margin-left: -30px;
    margin-right: -30px;
  }
}

@media only screen and (min-width: 768px) {
  .product-card__heading {
    font-size: 45px;
    margin: 60px 0 10px;
  }
  
  .product-card__item {
    width: calc(33.3% - 30px * 2);
    margin: 30px;
  }
}

/** HOMEPAGE CTA CARD **/
.home-cta-card__grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.home-cta-card__item {
  width: 100%;
  margin: 30px 0;
  position: relative;
}

.home-cta-card__item img {
  width: 100%;
}

.home-cta-card__item figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--portal-background-color);
  background-color: var(--portal-primary-button);

  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;

}

@media only screen and (min-width: 500px) {
  .home-cta-card__item img {
    width: auto;
  }
  .home-cta-card__item {
    width: calc(50% - 30px * 2);
    margin: 30px;
  }
  .home-cta-card__grid {
    flex-direction: row;
    margin-left: -30px;
    margin-right: -30px;
  }
}

@media only screen and (min-width: 768px) {
  .home-cta-card__grid {
    flex-direction: row;
    margin-left: -30px;
    margin-right: -30px;
  }
  .home-cta-card__item {
    width: calc(33.3% - 30px * 2);
    margin: 30px;
  }
}


/** PRODUCT ORDER TABLE **/
.product-order-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-collapse: collapse;
}

.product-order-table__row {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid #ccc;
  background-color: var(--portal-background-color);

  padding: 5px;
}

.product-order-table__cell {
  flex: 1;
  padding: 10px;
  text-align: center;
}

.product-order-table__header {
  font-weight: bold;
  border: 1px solid var(--portal-foreground-color);
}

.product-order-table .product-order-table__row:nth-child(even) {
  background-color: var(--portal-background-color);
}

@media (max-width: 600px) {
  .product-order-table {
    flex-direction: column;
    overflow-x: auto;
  }
  
  .product-order-table__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: max-content;
    min-width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
  }
  
  .product-order-table__cell {
    flex: 1 0 auto;
    width: 100%;
    text-align: left;
  }
}



/** GRID **/
.site-product__heading {
  font-size: 25px;
  text-align: center;
  margin: 30px 0 10px;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .site-product__heading {
    font-size: 45px;
    margin: 60px 0 10px;
  }
}

